<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dabbaronni</title>
  </head>
  <body>
    <h1>Edit this dog</h1>
    <form action="/dogs/{{id}}?_method=PUT" method="post">
      <label for="dogName"></label>
      <input id="dogName" type="text" name="name" value="{{name}}">
      <label for="dogAge"></label>
      <input id="dogAge" type="text" name="age" value="{{age}}">
      <input id="submitButton" type="submit" value="Save Changes">
    </form>
    <form action="/dogs/{{id}}?_method=DELETE" method="post">
      <input id="deleteButton" type="submit" value="Delete Dog">
    </form>
  </body>
</html>
