<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dabbaronni</title>
  </head>
  <body>
    <h1>Crate a new dog</h1>
    <form action={{action}} method={{method}}>
      <label for="dogName"></label>
      <input id="dogName" type="text" name="name" value="{{name}}">
      <label for="dogAge"></label>
      <input id="dogAge" type="text" name="age" value="{{age}}">
      <input id="submitButton" type="submit" value="Create New Dog">
    </form>
  </body>
</html>
