<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ol>
      {{#each dogs}}
        <li>{{this}}</li>
      {{/each}}
    </ol>
    <a href="/dogs/new">Create New Dog</a>
    <form action="routerFind" method="post">
      <label for="id"></label>
      <input type="text" name="id">
      <input type="submit" name="search" value="Search">
      <input type="submit" name="edit" value="Edit" formaction="/routerEdit">
    </form>
  </body>
</html>
